:root {
  --bg-nav-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Inter', sans-serif;
  background: #F5F6EA;
}

.card {
  transition: all 0.3s;
}

.card:hover{
  cursor: pointer;
}

.bg-nav {
  background-color: var(--bg-nav-color);
}

.nav-link-smooth {
  transition: font-weight 0.3s ease;
}

.active-nav {
  font-weight: 1000;
}