@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

:root {
    --text-primary-color: #4BBFAB;
    --text-secondary-color: #B9BABF;
    --bg-primary-color: #0A192F;
    --bg-secondary-color: #A8A9AC;
    --bg-primary-light-color: #44628F;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

nav, #hero-section {
    background-color: var(--bg-primary-color);
    color: #FFFFFF;
}

.cstm-text-primary {
    color: var(--text-primary-color);
}

.cstm-bg-primary {
    background-color: var(--bg-primary-color);
}

.cstm-bg-primary-light {
    background-color: var(--bg-primary-light-color);
}

.cstm-bg-secondary {
    background-color: var(--bg-secondary-color);
}

.cstm-hero-button {
    width: 200px;
    padding: 10px;
    color: var(--text-primary-color);
    border-color: var(--text-primary-color);
}

.cstm-hero-button:hover {
    font-weight: 900;
    background-color: var(--text-primary-color);
}

.cstm-about-section-py {
    padding: 150px 0px 100px 0px;
}

#about-section img {
    width: 150px;
    left: 50%;
}